<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It Takes a Village</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <h1>Edit <%= dog.name %></h1>

    <form action='/dogs/<%= dog.id %>?_method=PUT' method="POST">
        Name: <input type="text" name="name" value="<%= dog.name %>"/><br />
        Age: <input type="number" name="age" value="<%= dog.age %>" /><br />
        Sex: M<input type="checkbox" name="male" <% if (dog.male === 'on') {%> checked <%}%>/>  F<input type="checkbox" name="female" <% if (dog.female === 'on') {%> checked <%}%>/><br />
        Spayed/Neutered: <input type="checkbox" name="fixed" <% if (dog.fixed === true) {%> checked <%}%>/><br />
        Description: <textarea name="description"><%= dog.description %></textarea>
        Medical Conditions: <textarea name="conditions"><%= dog.conditions %></textarea>
        <label for="foster">Foster:</label>
        <select id="fosters" name="foster">
            <% for (;et i = 0; i < fosters.length; i ++) { %>
            
            <% } %>
        </select>
        <input type="submit" name="" value="Submit Changes to Registry" />
    </form>

    <a href="/dogs">Back to Index</a>
</body>
</html>