<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It Takes a Village</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <h1><%= dog.name %></h1>

    <p><%= dog.description %></p>

    <p><%= dog.conditions %></p>

    <a href="/dogs/<%= dog.id %>/edit"><button>Edit Information</button></a>

</body>
</html>